<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.449469157556-aeo73c55a394r4r9bupmi77008s3v1gn</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
	</array>
</dict>
</plist>
